.footer {
  padding: 20px;
  text-align: center;
  font-size: 13px;

  .copy {
    color: #656565;
    margin-bottom: 10px;
  }

  .links {
    a {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
